alabaster==0.7.12
alembic==1.3.2
astroid==2.4.1
attrs==19.3.0
autopep8==1.5.2
Babel==2.8.0
backcall==0.1.0
bleach==3.1.5
blinker==1.4
Brotli==1.0.7
certifi==2020.4.5.1
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
coverage==5.1
cryptography==2.8
cycler==0.10.0
dash==1.12.0
dash-core-components==1.10.0
dash-html-components==1.0.3
dash-renderer==1.4.1
dash-table==4.7.0
decorator==4.4.2
defusedxml==0.6.0
docformatter==1.3.1
docutils==0.16
dominate==2.4.0
elasticsearch==7.5.1
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.1
Flask-Babel==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.5.0
Flask-Excel==0.0.7
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-Moment==0.9.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
future==0.18.2
gunicorn==20.0.4
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython==7.14.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.0
Jinja2==2.10.3
joblib==0.13.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyter-sphinx==0.2.4
jyquickhelper==0.3.128
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lml==0.0.9
Mako==1.1.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
metakernel==0.24.4
mistune==0.8.4
multi-key-dict==2.0.3
mysqlclient==1.4.6
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numpy==1.18.3
openpyxl==3.0.3
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.7.1
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psycopg2==2.8.5
ptyprocess==0.6.0
pycodestyle==2.5.0
pycparser==2.19
pyecharts-jupyter-installer==0.0.3
pyexcel==0.6.1
pyexcel-io==0.5.20
pyexcel-webio==0.1.4
pyexcel-xlsx==0.5.8
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.5.2
pyparsing==2.4.7
pyquickhelper==1.9.3359
pyrsistent==0.16.0
python-dateutil==2.8.1
python-dotenv==0.10.5
python-editor==1.0.4
pytz==2019.3
pywinpty==0.5.7
pyzmq==19.0.1
qtconsole==4.7.3
QtPy==1.9.0
redis==3.3.11
requests==2.23.0
retrying==1.3.3
rq==1.2.0
scikit-learn==0.23.1
scipy==1.4.1
semantic-version==2.8.5
Send2Trash==1.5.0
six==1.13.0
sklearn==0.0
snowballstemmer==2.0.0
Sphinx==3.0.3
sphinx-gallery==0.6.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-imagesvg==0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.12
terminado==0.8.3
testpath==0.4.4
texttable==1.6.2
threadpoolctl==2.0.0
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
untokenize==0.1.1
urllib3==1.25.8
visitor==0.1.3
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.2.1
xlrd==1.2.0
XlsxWriter==1.2.8
xlwt==1.3.0
yahoo-historical==0.3.2
zipp==3.1.0
