<table class="table table-bordered">

  <tbody>
    <tr>
        <td rowspan="2"><strong>Время определения</strong></td>
      <th scope="col" colspan="2">Концентрация глюкозы, ммоль/л*</th>
    </tr>
    <tr>
        <td><strong>Цельная капиллярная кровь</strong></td>
        <td><strong>Венозная плазма</strong></td>
    </tr>
    <tr>
      <th scope="row" colspan="3"><p align="center">НОРМА</p></th>
    </tr>
    <tr>
      <td>Натощак</td>
      <td>< 5,6</td>
        <td>< 6,1</td>
    </tr>
    <tr>
        <td>и Через 2 часа после ПГТТ</td>
      <td>< 7,8</td>
      <td>< 7,8</td>
    </tr>
    <tr><th scope="row" colspan="3"><p align="center">Сахарный диабет</p></th></tr>
    <tr>
        <td >Натощак**</td>
        <td>≥ 6,1</td>
        <td>≥ 7,0</td>
    </tr>
    <tr>
        <td>или Через 2 часа после ПГТТ**</td>
        <td>≥ 11,1</td>
        <td>≥ 11,1</td>
    </tr>
    <tr>
        <td>или Случайное определение***</td>
        <td>≥ 11,1</td>
        <td>≥ 11,1</td>
    </tr>
    </tr>
    <tr><th scope="row" colspan="3"><p align="center">Нарушенная толерантность к глюкозе</p></th></tr>
    <tr>
    <tr>
        <td>Натощак (если определяется)</td>
        <td>< 6,1</td>
        <td>< 7,0</td>
    </tr>
    <tr>
        <td>и Через 2 часа после ПГТТ</td>
        <td>≥ 7,8 и < 11,1</td>
        <td>≥ 7,8 и < 11,1</td>
    </tr>
  <tr><th scope="row" colspan="3"><p align="center">Нарушенная гликемия натощак</p></th></tr>
  <tr>
        <td>Натощак и</td>
        <td>≥ 5,6 и < 6,1</td>
        <td>≥ 6,1 и < 7,0</td>
  </tr>
  <tr>
        <td>Через 2 часа после ПГТТ (если определяется) </td>
        <td>< 7,8</td>
        <td>< 7,8</td>
  </tr>
  <tr><th scope="row" colspan="3"><p align="center">Норма у беременных</p></th></tr>
  <tr>
        <td>Натощак </td>
        <td></td>
        <td>< 5,1</td>
  </tr>
  <tr>
        <td>и Через 1 час после ПГТТ </td>
        <td></td>
        <td>< 10,0</td>
  </tr>
  <tr>
        <td>и Через 2 часа после ПГТТ </td>
        <td></td>
        <td>< 8,5</td>
  </tr>
  <tr><th scope="row" colspan="3"><p align="center">Гестационный сахарный диабет</p></th></tr>
  <tr>
        <td>Натощак </td>
        <td></td>
        <td>≥ 5,1 и < 7,0</td>
  </tr>
  <tr>
        <td>и Через 1 час после ПГТТ </td>
        <td></td>
        <td>≥ 10,0</td>
  </tr>
  <tr>
        <td>и Через 2 часа после ПГТТ </td>
        <td></td>
        <td>≥ 8,5 и <11,1</td>
  </tr>
  </tbody>
</table>

<table class="table table-borderless">
    <tr><td>* Диагностика проводится на основании лабораторных определений уровня глюкозы.<br></td></tr>
</table>

<table class="table table-bordered">
    <tr><td>**Диагноз СД всегда следует подтверждать повторным определением гликемии в последующие дни, за
исключением случаев несомненной гипергликемии с острой метаболической декомпенсацией или с очевидными симптомами.
Диагноз гестационного СД может быть поставлен на основании однократного определения гликемии.</td></tr>
</table>

<table class="table table-borderless">
    <tr><td>**** При наличии классических симптомов гипергликемии.<br></td></tr>
</table>

<table class="table table-borderless">
   <strong> Перевод глюкозы крови из ммоль/л в мг/дл:</strong>
<br>ммоль/л × 18,02 = мг/дл
    <br><strong>Натощак</strong> – означает уровень глюкозы утром после предварительного голодания в течение не менее 8
часов и не более 14 часов.
    <br><strong>Случайное</strong> – означает уровень глюкозы в любое время суток вне зависимости от времени приема пищи.
    <br><strong>ПГТТ</strong> – пероральный глюкозотолерантный тест. Проводится в случае сомнительных значений гликемии
для уточнения диагноза.
    <br><strong>Правила проведения ПГТТ:</strong>
ПГТТ следует проводить утром на фоне не менее чем 3-дневного неограниченного питания (более 150г
углеводов в сутки) и обычной физической активности. Тесту должно предшествовать ночное голодание
в течение 8–14 часов (можно пить воду). Последний вечерний прием пищи должен содержать 30–50г
углеводов. После забора крови натощак испытуемый должен не более чем за 5 мин выпить 75г безводной
глюкозы или 82,5г моногидрата глюкозы, растворенных в 250–300мл воды. Для детей нагрузка составляет
1,75г безводной глюкозы (или 1,925 г моногидрата глюкозы) накг массы тела, но не более 75г (82,5 г). В процессе теста не разрешается курение. Через 2 часа осуществляется повторный забор крови.
<br>Для предотвращения гликолиза и ошибочных результатов определение концентрации глюкозы проводится
сразу после взятия крови, или кровь должна быть центрифугирована сразу после взятия, или храниться при
температуре 0–4°С, или быть взята в пробирку с консервантом (флуорид натрия).
    <br><strong>ПГТТ не проводится:</strong>
<br>– на фоне острого заболевания
<br>– на фоне кратковременного приема препаратов, повышающих уровень гликемии (глюкокортикоиды,
тиреоидные гормоны, тиазиды, бета-адреноблокаторы и др.)
</table>