<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sugar</title>
</head>
<body>

    <form action="" method="post" name="insulin">
         <div class="form-row align-items-center"><label class="mr-sm-2" for="sugeat">Запись об уровне сахара в крови</label>
    <div class="col-auto my-1">

      <select class="custom-select custom-select-lg mb-3" name="sugeat" id="sugeat">
        <option  selected>прием пищи</option>
        <option value="1">После завтрака</option>
        <option value="2">После обеда</option>
        <option value="3">После ужина</option>
        <option value="4">Дополнительно</option>
        <option value="5">При родах</option>
        <option value="6">Натощак</option>
      </select>
        <input type="datetime-local" size="1" name="timesug"  step="1" >
    </div>
             <div class="col-auto my-1">
             <input type="number" size="3" name="mol" min="1" max="20" step="0.1" value="5" id="mol">
                 <label class="mr-sm-2" for="mol">ммоль/л</label>
             </div>

    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary" name="submit" value="sug">Submit</button>
    </div>
             <div>
                 <p><a href="table.xlsx">Открыть файл в браузере</a>
                 <p><a href="/site02.8.02.20/table.xlsx" download>Скачать файл</a>
                 <p><img src="out.png" alt="Текущий график"></p>
             </div>
  </div>
    </form>

</body>
</html>