{% import 'bootstrap/wtf.html' as wtf %}

<table class="table table-hover">
  <tr>
    <td width="70px"> <!-- must have для полосы-->
        <p>
            <button class="btn btn-secondary" type="button" data-toggle="collapse"
                    data-target="#posts" aria-expanded="false" aria-controls="posts">
                <strong> посты</strong></button>
            <button class="btn btn-secondary" type="button" data-toggle="collapse"
                    data-target="#sugar" aria-expanded="false" aria-controls="sugar">
                <strong> Уровень сахара</strong>
            </button>
            <button class="btn btn-secondary" type="button" data-toggle="collapse"
                    data-target="#insulin" aria-expanded="false" aria-controls="insulin">
                <strong> Инъекции инсулина</strong>
            </button>
            <button class="btn btn-secondary" type="button" data-toggle="collapse"
                    data-target="#food" aria-expanded="false" aria-controls="food">
                <strong> Приемы пищи</strong>
            </button>
        </p>

        <div class="card card-block">
            <div class="collapse" id="posts">
                {% for post in posts %}
                {% include '_post.html' %}
                {% endfor %}
                {% include '_navigation.html' %}
            </div>
            <div class="collapse " id="sugar">
                {% include '_sugar.html' %}

            </div>
            <div class="collapse " id="insulin">
                {% include '_insulin.html' %}

            </div>
            <div class="collapse " id="food">
                {% include '_food.html' %}

            </div>

        </div>

    </td>
  </tr>
</table>
{% include '_sugplot.html' %}