<form>
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Запись об уровне сахара</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>прием пищи</option>
        <option value="1">После завтрака</option>
        <option value="2">После обеда</option>
        <option value="3">После ужина</option>
        <option value="4">Дополнительно</option>
        <option value="5">При родах</option>
        <option value="6">Натощак</option>
      </select>
    </div>

    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
